
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header {
  background: linear-gradient(-45deg,    rgba(75, 195, 157, 0.7), rgba(56, 112, 223, 0.7), rgba(108, 7, 190, 0.7), rgba(209, 117, 160, 0.7));
  background-size: 400% 400%;
  color: #fff;
  padding: 1em;
  animation: gradient 15s ease infinite;
  overflow: auto;
}

header h1 {
  float: left;
  margin: 0;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

header nav ul li {
  padding: 0;
  margin: 0;
  display:inline-flex;
  
  justify-content: center;
}

header a {
  color: #fff;
  text-decoration: none;
  
  padding: 1em;
}

header a:hover {
  background: rgba(20, 16, 81, 0.7);
}