.game-container{
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-row: auto;
  margin-bottom: 40px;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
}

.game-item{
  display:flex;
  flex-direction: column;
  justify-content:  center;
}




