
.default-container{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.leaderboard-container{
  padding: 1em;
  display: grid;
  grid-template-rows: auto ;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "game leaderboard";
  align-content: center;
  justify-content: center;
 
}

.canvas-item{
  grid-area: game;
}

.leaderboard-item{
  grid-area: leaderboard;
  display: flex;
  flex-direction: column;
  ;
 
}







